.heroContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Ensure full viewport height */
    overflow: hidden;
}

/* Use 100% height for the pseudo elements */
.heroContainer:before,
.heroContainer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.heroContainer:before {
    background: url("../../public/images/school-1.png") no-repeat center center;
    background-size: cover;
    opacity: 0.75;
}

.heroContainer:after {
    background: #000;
    opacity: 0.55;
}

/* Responsive tweaks */
@media (max-width: 768px) {
    .heroContainer {
        padding-top: 60px;
    }
}
